.center-flex {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    
}

.container {
    /* border: 1px red solid; */
    position: relative;
    height: 100vh;
    width: 100vw;
    background: rgb(175, 174, 173);
    
}

.box {
    border: 10px rgb(0, 0, 0) solid;
    width: 50vw;
    height: 50vh;
    background-color: white;
    
}

h1 {
    font-size: 56px;
    color: black;

}
